.letter-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}

.letter {
  max-height: 95vh;
  max-width: 520px;
  padding: 20px 10px;
  color: white;
}

.letter p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #fceff4;
}

.signature {
  text-align: right;
  font-style: italic;
  color: #ffd6e8;
}
